<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
    />
    <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
            crossorigin="anonymous"
    />


    <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
            crossorigin="anonymous"
    ></script>
    <style>
        .cart-quantity-wrap {
            align-items: center;
            display: flex;
            justify-content: center;
        }

        .cart-quantity {
            align-items: center;
            background-color: #0006;
            border-radius: 15px;
            display: flex;
            justify-content: space-between;
            padding: 4px 10px;
            width: 100px;
        }

        .cart-quantity span:first-child, span:last-child {

            cursor: pointer;
        }

        td {
            vertical-align: middle;
        }
    </style>
</head>
<body>
<div id="root">
    <div class="Toastify"></div>
    <div class="container d-flex align-items-center border-bottom py-2 mt-2">
        <div class="d-flex align-items-center" style="min-width: 180px;"><a class="logo" href="/product">
            <i class="fa-solid fa-cart-plus"></i>
            Shoe Ecommerce</a></div>
        <div class="d-flex flex-grow-1 justify-content-between">
            <form class="w-50 d-flex align-items-center">
                <input type="search" placeholder="Enter your search shoes" class="form-control form-control-sm" value=""
                       style="padding-right: 25px;">
                <i class="fa-solid fa-magnifying-glass"></i>
            </form>
            <div class="d-flex">
                <div>
                    <i class="fa-solid fa-cart-shopping"></i>
                </div>
                <a href="#">
                    <i class="fa-solid fa-user"></i>
                </a></div>
        </div>
    </div>
    <div class="container mt-1">
        <div class="row">
            <div class="col-md-12"><h3 class=" py-2">Cart Detail</h3></div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-8">
                <table class="table cart-table" id="tbCart">
                    <thead>
                    <tr>
                        <th>Product</th>
                        <th class="text-end">Price</th>
                        <th class="text-center">Quantity</th>
                        <th class="text-end">Total</th>
                        <th class="text-center">Actions</th>
                    </tr>
                    </thead>
                    <tbody>

                    </tbody>
                </table>
                <div class="row col-md-12"><a href="/product">
                    Countinue shopping</a></div>
            </div>
                <div class="col-sm-12 col-md-12 col-lg-4" style="min-width: 300px;">
                    <form  >
                        <div class="order-summary p-3"><h3 class="border-bottom py-2">Order Summary</h3>
                            <input type="hidden" name="cartId" id="cartId" value="1">
                            <div class="d-flex flex-column">
                                <div class="d-flex align-items-center justify-content-between py-2">
                                    <span>Subtotal</span>
                                    <span class="fw-bolder Subtotal" id="Subtotal"> </span>
                                </div>
                                <div class="d-flex align-items-center justify-content-between py-2">
                                    <span>Shipping</span>
                                    <span class="fw-bolder">Free</span>
                                </div>
                            </div>
                            <div class="d-flex align-items-center justify-content-between border-top mt-2 py-2">
                                <span class="fs-6">Total</span>
                                <span class="fw-bolder fs-6 Total" id="Total"> </span>
                            </div>
                        </div>
                        <div class="customer-info p-3"><h3 class="border-bottom py-2">Customer Info</h3>
                            <div class="form-group mb-3">
                                <label class="form-label">Fullname</label>
                                <input type="text" class="form-control " placeholder="Fullname" name="fullname">
                                <span class="invalid-feedback"></span>
                            </div>
                            <div class="form-group mb-3">
                                <label class="form-label">Address</label>
                                <input type="text" class="form-control " placeholder="Address" name="address">
                                <span class="invalid-feedback"></span>
                            </div>
                            <div class="form-group mb-3">
                                <label class="form-label">Email</label>
                                <input type="text" class="form-control " placeholder="Email" name="email">
                                <span class="invalid-feedback"></span>
                            </div>
                            <div class="form-group mb-3">
                                <label class="form-label">Mobile</label>
                                <input type="text" class="form-control " placeholder="Mobile" name="mobile">
                                <span class="invalid-feedback"></span>
                            </div>
                        </div>
                        <div class="py-3 bg-success mt-2 d-flex align-items-center justify-content-center text-white btn-checkout">
                            <button class="btn btn-block" type="button" id="checkout">CHECKOUT</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script>
        const bodyCart = document.querySelector("#tbCart tbody");
        const checkout= document.getElementById("checkout");

        const api = "http://localhost:8080/api/cart";

        async function fetchAllCart() {
            const response = await fetch(api);
            // console.log(products);
            return await response.json();
        }

        const getAllCart = async () => {
            const Cart = await fetchAllCart();
            bodyCart.innerHTML = '';
            Cart.forEach((item) => {
                const str = renderCart(item);
                bodyCart.innerHTML += str;
            });
            calculateTotal()
        };

        function renderCart(cart) {
            return `
                <tr id="tr_${cart.id}">

                    <td style="max-width: 200px;">
                    <div class="d-flex align-items-center">
                    <img src="${cart.product.img}" style="width: 100px" class="product-image"/>
                    <div class="d-inline">
                    <div class="d-block fw-bolder mb-2">${cart.product.title}</div>
                    <div class="badge py-2" style="background-color: ${cart.product.color.nameColor};">${cart.product.color.nameColor}</div>
                    </div>
                    </div>
                    </td>
                    <td class="text-end">$${cart.product.prevPrice}</td>
                    <td>
                    <div class="cart-quantity-wrap">
                    <div class="cart-quantity">
                    <span onclick="reduceQuantity(${cart.product.id},${cart.id})" >-</span>
                    <span>${cart.quantity}</span>
                    <span onclick="addQuantity(${cart.product.id},${cart.id})">+</span>
                    </div>
                    </div>
                    </td>
                    <td class="text-end total" >$${cart.amount}</td>
                 <td class="text-end">
                    <button title = "delete" class="btn btn-outline-secondary" onclick="deleteCart(${cart.product.id},${cart.id})">
                       <i class="fa-solid fa-xmark"></i>
                    </button>
                </td>
                </tr>
            `
        }

        function calculateTotal() {
            const totalItems = document.querySelectorAll(".total");

            let subtotal = 0;
            let total = 0;

            totalItems.forEach((item) => {
                const totalValue = parseFloat(item.innerText.replace("$", ""));
                subtotal += totalValue;
            });

            total = subtotal;

            const subtotalElement = document.querySelector(".Subtotal");
            const totalElement = document.querySelector(".Total");

            subtotalElement.innerText = "$" + subtotal.toFixed(2);
            totalElement.innerText = "$" + total.toFixed(2);
        }

        function reduceQuantity(idProduct, idCartDetail) {
            const obj = {
                idProduct,
                idCartDetail
            }
            fetch("http://localhost:8080/api/cart/reduce", {
                method: "PATCH",
                headers: {
                    "Content-Type": "application/json",
                },
                body: JSON.stringify(obj)
            })
                .then(function (response) {
                    if (response.ok) {

                        getAllCart();
                    } else {

                        alert("Failed to add product to cart.");
                    }
                })
                .catch(function (error) {

                    console.error("API call error:", error);
                });
        }

        function addQuantity(idProduct, idCartDetail) {
            const obj = {
                idProduct,
                idCartDetail
            }
            fetch("http://localhost:8080/api/cart/add", {
                method: "PATCH",
                headers: {
                    "Content-Type": "application/json",
                },
                body: JSON.stringify(obj)
            })
                .then(function (response) {
                    if (response.ok) {

                        getAllCart();

                    } else {

                        alert("Failed to add product to cart.");
                    }
                })
                .catch(function (error) {

                    console.error("API call error:", error);
                });
        }

        function deleteCart(idProduct, idCartDetail) {
            const obj = {
                idProduct,
                idCartDetail
            }
            fetch("http://localhost:8080/api/cart/delete", {
                method: "DELETE",
                headers: {
                    "Content-Type": "application/json",
                },
                body: JSON.stringify(obj)
            })
                .then(function (response) {
                    if (response.ok) {

                        getAllCart();

                    } else {
                        alert("Failed to add product to cart.");
                    }
                })
                .catch(function (error) {
                    console.error("API call error:", error);
                });
        }

        checkout.addEventListener("click",()=>{
            const idCart=document.getElementById("cartId").value;
            const cleanedTotal= document.getElementById("Total").innerText;
            const Total = cleanedTotal.substring(1);
            const obj={
                subTotal:Total,
                totalAmount:Total,
                idCart:idCart
            }
            fetch("http://localhost:8080/api/order/create", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json",
                },
                body: JSON.stringify(obj)
            })
                .then(function (response) {
                    if (response.ok) {
                        alert("Order Success")
                        getAllCart();

                    } else {
                        alert("Failed to add product to cart.");
                    }
                })
                .catch(function (error) {
                    console.error("API call error:", error);
                });

        })

        getAllCart()
    </script>
</body>
</html>