.star-rating {
    color: gold;
}

.icon {
    color: black;
}

.btn-check:checked + .btn {
    background-color: rgb(128, 128, 128);
    border: 1px solid black;
}

.btn {
    border: 2px solid rgb(128, 128, 128);
    padding: 5px;
}
#selectOption option {
    text-align: center;
}